.navigation {
  padding-top: 7.5px;
  padding-bottom: 30px;
  background-color: $white;
}

.navigation__inner {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
}

.navigation__upper-part {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 16px;
}

.navigation__toggle-mobile,
.navigation__toggle-menu {
  display: none;
}

.navigation__toggle {
  min-width: 180px;
  background-color: $blue;
  padding-top: 10px;
  padding-bottom: 9px;
  border: none;
  color: $white;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 600;
  max-height: 38px;
  border-radius: 5px;
  margin-top: 7px;
  cursor: pointer;
}

.navigation__toggle:hover,
.navigation__toggle:focus {
  opacity: 0.5;
}

.navigation__input {
  max-width: 734px;
  max-height: 38px;
  margin-top: 7px;
  padding-left: 86px;
  border-radius: 8px;
  background-color: $bg;
  border: 1px solid rgba(52, 125, 184, 0.15);
  margin-right: 30px;
  flex-grow: 1;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
}

.navigation__upper-part::before {
  content: "";
  position: absolute;
  background-image: url("../../img/search-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  top: 18px;
  left: 344px;
}

.navigation__upper-part::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 37px;
  top: 7px;
  left: 376px;
  border: 1px solid rgba(52, 125, 184, 0.15);
}

.navigation__logo {
  padding-right: 74px;
}

.navigation__menu {
  display: flex;
}

.navigation__list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-gap: 85px;
  margin: 0;
}

.navigation__item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: $nav-color;
  position: relative;
}

.navigation__item:hover span,
.navigation__item:focus span {
  color: $blue;
}

.navigation__item:last-child {
  padding-left: 18px;
  position: relative;
}

.navigation__item:last-child::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../../img/calculator.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -6px;
}

@media (max-width: $max-tablet-width) {
  .navigation__toggle-mobile {
    background-image: url("../../img/close-button.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    padding: 0;
    background-position: center;
    background-color: $nav-button-bg;
    border: none;
    margin-top: 7px;
  }

  .navigation__toggle-menu {
    min-width: 180px;
    background-color: $blue;
    padding-top: 10px;
    padding-bottom: 9px;
    border: none;
    color: $white;
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 600;
    max-height: 38px;
    border-radius: 5px;
    margin-top: 7px;
    cursor: pointer;
    margin-bottom: 44px;
  }

  .navigation__toggle-mobile:hover,
  .navigation__toggle-mobile:focus {
    opacity: 0.5;
  }

  .navigation__toggle-mobile,
  .navigation__toggle-menu {
    display: block;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__logo {
    padding-right: 56px;
  }

  .navigation__input {
    max-width: 100%;
    padding-left: 56px;
    margin-right: 55px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .navigation__upper-part::before {
    left: 280px;
  }

  .navigation__upper-part::after {
    left: 310px;
  }

  .navigation__list {
    grid-template-columns: 1fr;
    grid-gap: 49px;
  }

  .navigation__menu {
    flex-direction: column;
  }

  .navigation__item:last-child {
    padding-left: 25px;
  }

  .navigation__item:last-child::before {
    left: 0;
  }

  .navigation__upper-part {
    max-width: 100%;
  }

  .navigation__item::after {
    content: "";
    position: absolute;
    border: 1px solid $border;
    bottom: -10px;
    left: 0;
    width: 100%;
  }
}

